<div class="container">
    <div class="main-page">
        <div class="columns is-multiline">

            <div class="column is-12-mobile is-6-tablet is-3-desktop" *ngFor="let data of employees">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <span class="title is-4">{{data.firstName}} {{data.lastName}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>